*{
    margin: 0;
    padding: 0;
}
#contenedor{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
}
header{
    background-color: rgb(12, 12, 68);
    text-align: center;
    padding: 25px;
    color: white;
}
main{
    /*background-color: burlywood;*/
    height: 4000px;
}
section{
    /*background-color: cadetblue;*/
    width: 70%;
    float: left;
    height: 100%;
}
aside{
    background-color: rgb(12, 12, 68);
    width: 30%;
    float: right;
    height: 43.3%;
    color: white;
}
article{
    background-color: white;
    margin: 10px 10px;
    padding: 20px 20px;
}
img{
    width: 35%;
    float: left;
    margin-right: 10px;
}
h2,h3{ margin: 20px 20px;}
#pni{ width: 95%; margin: 20px 20px;}
#logo{ width: 100%;
        margin-bottom: 15px;}
#cont1{
    background-color: rgb(12, 12, 68);
}
